<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="klubbok.component.css">
</head>
<body>
                <h1>Klub tagság:</h1>
                     <div *ngFor="let t of teszt"> 
                        <div class="klubok">{{t.klub.name}}:</div>
                            <div *ngFor="let s of t.szemely">  
                                <div>{{s.name}}</div>
</div>
</div>
</body>
</html>


