<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klubok</title>
    <link rel="stylesheet" href="klubbok.component.css">
</head>
<body>
    <div class="box">

                     <div class="k" *ngFor="let t of teszt"> 
                        <div class="klubok">{{t.klub.name}}</div>
                            <div *ngFor="let x of t.obj_mem"> 
                                <div class="emberek">{{x.member.name}}: </div>
                                <div class="targyak">{{x.object.name}}</div>
                                    
                            </div>
                        </div>
     </div>
                    
</body>
</html>


